
        @media screen and (max-device-width: 480px) {
            body {
                -webkit-text-size-adjust: none;
            }
        }

        p {
            font-size: 16px;
        }


        h1 {
            font-size: 30px;
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 20px;
            margin: 0;
            padding: 0;
        }

        h3 {
            font-size: 18px;
            margin: 8;
            padding: 0;
        }

        body {
            padding: 0;
            font-family: Arial;
            font-size: 16px;
            background-color: rgb(227, 249, 221);
        }

        .title {
            width: 750px;
            margin: 20px auto;
        }

        .container {
            width: 920px;
            margin: 20px auto;
            border-radius: 10px;
            background-color: #fff;
            padding: 20px;
            clear: both;
        }

        .container_title {
            width: 850px;
            margin: 20px auto;
            border-radius: 10px;
            padding: 20px;
            clear: both;
        }

        .iframe_video {
            float: left;
            margin-right: 30px
        }

        #bio {
            padding-top: 20px;
        }

        #me {
            border: 0 solid black;
            margin-bottom: 50px;
            border-radius: 10px;
        }

        #sidebar {
            margin-left: 25px;
            margin-right: 50px;
            border: 0 solid black;
            float: left;
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a,
        a:visited {
            color: #2d92e9;
        }

        .topbar {
            font-size: 20px;
            margin: 0;
            padding: 0;
        }

        .topbar strong a {
            color: black;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-property: transform;
            transition-property: transform;

        }

        .topbar strong a:hover {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }


        .publogo {
            float: left;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 3px;
            vertical-align: center;
        }

        .publication {
            clear: left;
            padding-bottom: 0px;
            vertical-align: center;
        }

        .publication p {
            height: 100px;
            padding-top: 5px;

        }

        .publication strong {
            font-size: 16px;
            vertical-align: center;
        }

        .img-bordered {
            border: 5px solid #fff;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
            -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
            -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        }

        @keyframes sparkle {

            0%,
            100% {
                opacity: 1;
                text-shadow: 0 0 5px #ff6b6b, 0 0 10px #ff6b6b, 0 0 15px #ff6b6b;
            }

            50% {
                opacity: 0.7;
                text-shadow: 0 0 10px #ff3333, 0 0 20px #ff3333, 0 0 30px #ff3333, 0 0 40px #ff3333;
            }
        }
    